mixin top
  .text-right
    a.text-xs(href="#top" pageScroll) top

route-doc-watcher("[(ref)]"="routeDocWatcher" "(beforeChange)"="panelAnim=$event.isBackMode?'slideInRight':'slideInLeft';isBackMode=$event.isBackMode;" "(onChange)"="stateName=$event.$state().current.name")

div(style="font-size:16px;" id="top")
  .pad.flex-valign-center.flex-wrap.bg-energized
    h1.margin-0
      span.text-xs 🚴
      |&nbsp;ack-angular
    span.text-right.flex-1.text-white
      |v{{ version }}

  .flex-wrap.flex-evenly.bg-info.child-pad-sm.text-center.text-2x.strong.child-hover-bg-warning
    a.no-a-style.flex-1.border-right.border-white([ngClass]="{'bg-energized':stateName=='overview'}" href="#/overview")
      |Overview
    a.no-a-style.flex-1.border-right.border-white([ngClass]="{'bg-energized':stateName=='components'}" href="#/components")
      |Components
    a.no-a-style.flex-1.border-right.border-white([ngClass]="{'bg-energized':stateName=='pipes'}" href="#/pipes")
      |Pipes
    a.no-a-style.flex-1([ngClass]="{'bg-energized':stateName=='services'}" href="#/services")
      |Services
    a.no-a-style.flex-1([ngClass]="{'bg-energized':stateName=='animations'}" href="#/animations")
      |Animations

  .text-center.flex-center
    .max-width-1000.line-height-2x.text-left.width-full(style="position:relative;")
      .pad-h("*ngIf"="stateName=='overview'" "[@absoluteSwap500]"="panelAnim")
        h2 Overview
        overview-examples
        +top

      .pad-h("*ngIf"="stateName=='components'" "[@absoluteSwap500]"="panelAnim")
        h2 Components
        components-examples
        +top

      .pad-h("*ngIf"="stateName=='pipes'" "[@absoluteSwap500]"="panelAnim")
        h2 Pipes
        pipes-examples
        +top

      .pad-h("*ngIf"="stateName=='services'" "[@absoluteSwap500]"="panelAnim")
        h2 Services
        services-examples
        +top

      .pad-h("*ngIf"="stateName=='animations'" "[@absoluteSwap500]"="panelAnim")
        h2 Animations
        animation-examples
        +top
  br
  br
