h2 Animations
p.text-grey-2x Make an app far more beautiful when changing scenery

|Currently, all animations are provided by a #[a(href="https://github.com/yuyang041060120/ng2-animate/pull/4") pull request] of #[a(href="https://github.com/AckerApple/ng2-animate") ng2-animate]

h4 Table of Contents
ul.child-pad-xxs
  li
    a(href="#Import Example" pageScroll) Import Example
  li
    a(href="#Usage Example" pageScroll) Usage Example
  li
    a(href="#Swap Example" pageScroll) Swap Example
  li
    a(href="#Supported Definitions" pageScroll) Supported Definitions

h3(id="Import Example") Import Example
pre.code-sample.
  import &#123; Component &#125; from '@angular/core'
  import &#123; ackAnimations &#125; from 'ack-angular/dist/ackAnimations'
  
  @Component(&#123;
    selector: 'app-tag'
    ,template: 'Hello Template'
    ,animations: ackAnimations
  &#125;) class AppComponent &#123;&#125;

h3(id="Usage Example") Usage Example
pre.code-sample.
  &lt;button "(click)"="viewDets=!viewDets")&gt; view details &lt;/button&gt;
  
  &lt;div [*ngIf]="viewDets" [@200]="'slideInLeft'"&gt;
    &lt;p&gt;This is some goooooood animated content right here&lt;/p&gt;
    &lt;p&gt;You should try it.&lt;/p&gt;
  &lt;/div&gt;
br

h3(id="Swap Example") Swap Example
p.text-grey-2x Animate swapping elements using @absoluteSwap. Behind the scene, during animation, the following is styles are applied position:absolute;width:100%;overflow:hidden;
pre.code-sample.
  &lt;button "(click)"="viewDets='default'")&gt; view default &lt;/button&gt;
  &lt;button "(click)"="viewDets='other'")&gt; view other &lt;/button&gt;
  
  &lt;div style="position:relative;"&gt;
    &lt;div [*ngIf]="!viewDets || viewDets=='default'" [@absoluteSwap]="'slideInLeft'"&gt;
      &lt;p&gt;This is some goooooood animated content right here&lt;/p&gt;
      &lt;p&gt;You should try it.&lt;/p&gt;
    &lt;/div&gt;

    &lt;div [*ngIf]="!viewDets || viewDets=='other'" [@absoluteSwap]="'slideInLeft'"&gt;
      &lt;p&gt;This is some goooooood animated content right here&lt;/p&gt;
      &lt;p&gt;You should try it.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
br

h3(id="Supported Definitions") Supported Definitions
.flex-wrap
  .pad
    ul
      li("*ngFor"="let item of delayArray")
        |{{ item }}
  .pad
    ul
      li absoluteSwap
      li("*ngFor"="let item of delayArray") absoluteSwap{{ item }}
br

h3 Supporting Examples
.flex-wrap
  fieldset
    label.pad-h *ngFor
    ul
      li("*ngFor"="let item of list;let i = index;" "[@200]"="'fadeInLeft'")
          |{{item}} - {{i}}
          button("(click)"="list.splice(i,1)") X
    .flex
      input.flex-1("[(ngModel)]"="supportExampleAddItem")
      button("(click)"="list.push(supportExampleAddItem)") add
br