.pos-rel
  -attrs={};
  -attrs["[(elementHeightModel)]"] = "elementHeightModel"
  -attrs["[ngClass]"] = "wrapClass"
  -attrs["[class.no-scroll-bars]"] = "!scrollBars && scrollBars!=null"
  .overflow.pos-abs.width-full&attributes(attrs)
    ng-content
  .invisible([ngStyle]="{'height.px':elementHeightModel}" style="overflow:hidden;")
    |&nbsp;