.pad-xxs(*ngIf="error!=null && errorClose!=error" "[@200]"="'fadeInUp'" "[ngClass]"="cssClasses")
  .flex-valign-center.flex-wrap.child-margin-xxs
    .flex-1
      .strong.text-3x.margin-0.cursor-pointer("(click)"="moreDetails=!moreDetails")
        //-i.fa.fa-exclamation-triangle
          |&nbsp;
        |{{ getErrorMessage(error) }}

    a.text-blue.underline.text-xs(*ngIf="error && (error|typeof)!='string'" "(click)"="moreDetails=!moreDetails")
      |details
    a.text-blue.underline.text-xs(*ngIf="error" "(click)"="errorClose=error")
      |close

  div(*ngIf="moreDetails" "[@200]"="'fadeInUp'")
    absolute-overflow-y.text-sm
      pre.margin-0.pad-xs {{ error|json }}
