ng-container(*ngIf="header || AckApp.appHeaderTemplates.length")
  div(
    *ngIf = "!mode || mode==='calculate'"
    style = "position:fixed;top:0;width:100%"
    "[(elementHeightModel)]" = "headerHeight"
    "[elementSizeModelWatch]" = "header || AckApp.appHeaderTemplates.length"
  )
    ng-container(*ngFor="let item of AckApp.appHeaderTemplates")
      ng-template(*ngTemplateOutlet="item")
    ng-template(*ngTemplateOutlet="header")

  div(
    *ngIf = "mode==='clone'"
    style = "position:fixed;top:0;width:100%"
  )
    ng-template(*ngTemplateOutlet="header")
    ng-container(*ngFor="let item of AckApp.appHeaderTemplates")
      ng-template(*ngTemplateOutlet="item")

table(
  style       = "height:100%;width:100%;border-collapse: collapse;"
  cellPadding = 0
  cellSpacing = 0
  border      = 0
)
  tr(*ngIf="header || AckApp.appHeaderTemplates.length")
    td(
      "[style.height.px]" = "headerHeight"
      style = "visibility:hidden"
    )
      ng-container(*ngIf="mode==='clone'")
        ng-container(*ngFor="let item of AckApp.appHeaderTemplates")
          ng-template(*ngTemplateOutlet="item")
        ng-template(*ngTemplateOutlet="header")
  tr
    td(style="height:100%")
      ng-content
  tr(*ngIf="footer || AckApp.appFooterTemplates.length")
    td("[style.height.px]"="footerHeight")
      div(*ngIf="mode==='clone'" style="visibility:hidden")
        ng-container(*ngFor="let item of AckApp.appFooterTemplates")
          ng-template(*ngTemplateOutlet="item")
        ng-template(*ngTemplateOutlet="footer")

ng-container(*ngIf="footer || AckApp.appFooterTemplates.length")
  div(
    *ngIf = "!mode || mode==='calculate'"
    style = "position:fixed;bottom:0;width:100%"
    "[(elementHeightModel)]" = "footerHeight"
    "[elementSizeModelWatch]" = "footer || AckApp.appFooterTemplates.length"
  )
    ng-container(*ngFor="let item of AckApp.appFooterTemplates")
      ng-template(*ngTemplateOutlet="item")
    ng-template(*ngTemplateOutlet="footer")
  
  div(
    *ngIf = "mode==='clone'"
    style = "position:fixed;bottom:0;width:100%"
  )
    ng-container(*ngFor="let item of AckApp.appFooterTemplates")
      ng-template(*ngTemplateOutlet="item")
    ng-template(*ngTemplateOutlet="footer")