div("[ngClass]"="{'border-grey-6x border-top':stylize}")
//-style      = "cursor:pointer;"
div(
  *ngFor      = "let item of array|array"
  "(click)"   = "selectItem(item)"
  "[ngClass]" = "getItemClass(item)"
)
  ng-template(
    *ngIf = "TemplateReader.templates.selected && isItemSelected(item)"
    "[ngTemplateOutlet]" = "TemplateReader.templates.selected"
    "[ngTemplateOutletContext]" = "{item:item}"
  )
  ng-template(
    *ngIf = "TemplateReader.templates.templateRef && (!TemplateReader.templates.selected || !isItemSelected(item))"
    "[ngTemplateOutlet]" = "TemplateReader.templates.templateRef"
    "[ngTemplateOutletContext]" = "{item:item, selected:isItemSelected(item)}"
  )
  span(
  	*ngIf="!TemplateReader.templates.templateRef"
  ) {{ item }}