//-create a display hook for ack-fixed-element-stage to hook onto (must be first ng-template)
ng-template(#placeholder="")
  ack-modal-layout(
   "[zIndex]"           = "zIndex"
    "(close)"           = "close.emit($event)"
    "[isModelMode]"     = "isModelMode==null ? showModelChange.observers.length : isModelMode"
    "[showModel]"       = "showModel"
    "(showModelChange)" = "showModelChange.emit(showModel=$event)"
    "[backgroundColor]" = "backgroundColor"
    "[wrapStyle]"       = "wrapStyle"
    "[wrapCellStyle]"   = "wrapCellStyle"
    "[allowClose]"      = "allowClose"
  )
    ng-template("[ngTemplateOutlet]"="body")
    ng-content(*ngIf="!body")

//-if no ack-fixed-element-stage tag present, then render in-place
ng-template(
  *ngIf = "!AckApp.fixedElementStage || inline"
  [ngTemplateOutlet] = "layout"
)