//-create a display hook for ack-fixed-element-stage to hook onto
ng-template
  ack-modal-layout(
    "(close)"           = "close.emit($event)"
    "[isModelMode]"     = "isModelMode || showModelChange.observers.length"
    "[showModel]"       = "showModel"
    "(showModelChange)" = "showModelChange.emit(showModel=$event)"
    "[backgroundColor]" = "backgroundColor"
    "[wrapStyle]"       = "wrapStyle"
    "[wrapCellStyle]"   = "wrapCellStyle"
    "[allowClose]"      = "allowClose"
  )
    ng-content

//-if no ack-fixed-element-stage tag present, then render in-place
ng-template(*ngIf="!AckApp.fixedElementStage || inline" "[ngTemplateOutlet]"="layout")