ng-container(*ngIf="header || SectionProvider.headerTemplates.length")
  div(
    *ngIf = "mode==='calculate'"
    style = "position:fixed;top:0;width:100%"
    "[style.z-index]" = "zIndex"
    "[(elementHeightModel)]" = "headerHeight"
    "[elementSizeModelWatch]" = "header || SectionProvider.headerTemplates.length"
  )
    ng-container(*ngFor="let item of SectionProvider.headerTemplates")
      ng-template(*ngTemplateOutlet="item")
    ng-template(*ngTemplateOutlet="header")

  div(
    *ngIf = "!mode || mode==='clone'"
    style = "position:fixed;top:0;width:100%"
    "[style.z-index]" = "zIndex"
  )
    ng-template(*ngTemplateOutlet="header")
    ng-container(*ngFor="let item of SectionProvider.headerTemplates")
      ng-template(*ngTemplateOutlet="item")

table(
  style       = "height:100%;width:100%;border-collapse: collapse;"
  cellPadding = 0
  cellSpacing = 0
  border      = 0
)
  tr(*ngIf="header || SectionProvider.headerTemplates.length")
    td(
      "[style.height.px]" = "headerHeight"
      style = "visibility:hidden"
    )
      ng-container(*ngIf="!mode || mode==='clone'")
        ng-container(*ngFor="let item of SectionProvider.headerTemplates")
          ng-template(*ngTemplateOutlet="item")
        ng-template(*ngTemplateOutlet="header")
  tr
    td(style="height:100%")
      ng-content
  tr(*ngIf="footer || SectionProvider.footerTemplates.length")
    td("[style.height.px]"="footerHeight")
      div(*ngIf="!mode || mode==='clone'" style="visibility:hidden")
        ng-container(*ngFor="let item of SectionProvider.footerTemplates")
          ng-template(*ngTemplateOutlet="item")
        ng-template(*ngTemplateOutlet="footer")

ng-container(*ngIf="footer || SectionProvider.footerTemplates.length")
  div(
    *ngIf = "mode==='calculate'"
    style = "position:fixed;bottom:0;width:100%"
    "[style.z-index]" = "zIndex"
    "[(elementHeightModel)]" = "footerHeight"
    "[elementSizeModelWatch]" = "footer || SectionProvider.footerTemplates.length"
  )
    ng-container(*ngFor="let item of SectionProvider.footerTemplates")
      ng-template(*ngTemplateOutlet="item")
    ng-template(*ngTemplateOutlet="footer")
  
  div(
    *ngIf = "!mode || mode==='clone'"
    style = "position:fixed;bottom:0;width:100%"
    "[style.z-index]" = "zIndex"
  )
    ng-container(*ngFor="let item of SectionProvider.footerTemplates")
      ng-template(*ngTemplateOutlet="item")
    ng-template(*ngTemplateOutlet="footer")