div(*ngIf="error!=null && errorClose!=error" "[@200]"="'fadeInUp'")
  div(*ngIf="error && closable" "(click)"="errorClose=error" style="position:relative")
    div(style="position:absolute;bottom:-17px;right:-16px;border:1px solid #DDD;border-radius:50%;z-index:20")
      ack-close-icon

  .pad-xxs(*ngIf="error!=null && errorClose!=error" "[@200]"="'fadeInUp'" "[ngClass]"="cssClasses")
    .flex-valign-center.flex-wrap.child-margin-xxs
      .flex-1
        .strong.text-3x.margin-0(
          "[class.cursor-pointer]"="allowDetails"
          "(click)"="!allowDetails || moreDetails=!moreDetails"
        )
          //-i.fa.fa-exclamation-triangle
            |&nbsp;
          |{{ getErrorMessage(error) }}

      a.text-blue.underline.text-xs(*ngIf="allowDetails && error && (error|typeof)!='string'" "(click)"="moreDetails=!moreDetails")
        |details
      //-a.text-blue.underline.text-xs(*ngIf="error && closable" "(click)"="errorClose=error")
        |close

    div(*ngIf="moreDetails" "[@200]"="'fadeInUp'")
      absolute-overflow-x.text-sm
        pre.margin-0.pad-xs {{ error|json }}
