div("[ngClass]"="{'border-grey-6x border-top':stylize}")
//-style      = "cursor:pointer;"
div(
  *ngFor      = "let item of array|array"
  "(click)"   = "selectItem(item)"
  "[ngClass]" = "getItemClass(item)"
)
  ng-template(
    *ngIf = "templateRef"
    "[ngTemplateOutlet]" = "templateRef"
    "[ngTemplateOutletContext]" = "{item:item, selected:isItemSelected(item)}"
  )
  span(*ngIf="!templateRef") {{ item }}