.flex-wrap
  fieldset.flex-1.border-dotted.border-grey-2x.border
    legend.pad-h
      h3.margin-0 RouteWatcher
    p.text-grey-2x Get history and additional state information from ui-router-ng2
    .pad Requirements
      ul
        li ui-router-ng2
    
    h4 Import Examples
    
    |Short-hand Import
    pre.code-sample.
      import &#123; RouteWatcher &#125; from "ack-angular"
    
    |Long-hand Import
    pre.code-sample.
      import * as RouteWatcher from "ack-angular/dist/RouteWatcher.class"
