-attrs = {};
-attrs["[(ref)]"] = "ackModal"
-attrs["(onClose)"] = "onClose.emit($event)"
-attrs["[allowClose]"] = "allowClose"
-attrs["[wrapStyle]"] = "wrapStyle"
-attrs["[wrapCellStyle]"] = "wrapCellStyle"
-attrs["[backgroundColor]"] = "backgroundColor"
-attrs["(backgroundColorChange)"] = "backgroundColorChange.emit($event)"
ack-modal&attributes(attrs)
  ng-content
  //-ng-content(select="component-header")
  .border-grey-6x.border.bg-white
    -attrs = {};
    -attrs["[(ref)]"] = "ackOptions"
    -attrs["[array]"] = "array"
    -attrs["[(model)]"] = "model"
    -attrs["[multiple]"] = "multiple"
    -attrs["[toggleable]"] = "toggleable"
    -attrs["[stylize]"] = "stylize"
    -attrs["[templateRef]"] = "templateRef"
    -attrs["[arrayKey]"] = "arrayKey"
    -attrs["[arrayToModelKey]"] = "arrayToModelKey"
    -attrs["[modelKey]"] = "modelKey"
    ack-options&attributes(attrs)