.child-pad-h-xs.flex-wrap.text-center(
  *ngIf = "DebugItems.length>1"
)
  a.cursor-pointer.border.border-grey-3x.radius-5.flex-1(
    *ngFor="let item of DebugItems"
    "[ngClass]" = "item===debugItem ? 'bg-positive text-white' : ''"
    "(click)" = "debugItem = debugItem===item ? null : item"
  )
    |{{item.name}}
    ng-container(*ngIf="item.type==='array'")
      |&nbsp;( {{ item.value?.length || 0 }} )

ng-container(*ngIf="debugItem")
  h3.margin-bottom-0 {{ debugItem.name }}
  ng-container(*ngIf="debugItem.type==='array';else regdebug")
    ng-container(#loop="var" "[var]"="{view:0}")
    pre.bg-grey-3x.margin-0.sample-code(
      *ngFor="let data of debugItem.value;let ii=index"
    )
      ng-container(*ngIf="loop.var.view==ii")
        .flex-valign-center.child-pad-xs(style="padding:.4em;float:right")
          a.fas.fa-caret-square-left.hover-bg-energized(
            "(click)" = "loop.var.view=ii===0 ? debugItem.value.length-1 : ii-1"
          ) &lt;
          a(
            style     = "color:blue;"
            "(click)"="editsMap[ii]=!editsMap[ii]"
          ) edit
          a(
            style    = "color:blue;"
            "(click)"="debugItem.type=null"
          ) all
          a.fas.fa-caret-square-right.hover-bg-energized(
            "(click)" = "loop.var.view=ii===debugItem.value.length-1 ? 0 : ii+1"
          ) &gt;
        p
          ng-container(*ngIf="debugItem.rowTitle;else defaultRowLabel")
            ng-template(*ngTemplateOutlet="debugItem.rowTitle;context:{index:ii}")
          ng-template(#defaultRowLabel="")
            strong Result {{ii}} of {{debugItem.value.length}} 
        
        absolute-overflow-x(
          *ngIf="!editsMap[ii]"
          style="font-size:0.8em;"
        )
          pre
            |{{ data | json }}
        
        ng-container(*ngIf="editsMap[ii]")
          textarea(
            "[name]" = "'editsMap' + ii"
            style = "width:100%;height:300px"
            "(change)" = "dataString = $event.target.value"
          ) {{ data | json }}

          div(style="text-align:center")
            a(
              style     = "color:blue;padding-top:.4em;"
              "(click)" = "updateDataByJsonString(data,dataString);editsMap[ii]=false"
            ) save

  ng-template(#regdebug="")
    .pos-rel
      .pos-abs.right-0.z-index-10
        .pad-xxs
          i.fas.fa-pencil-alt.hover-text-energized(
            "(click)" = "edit=!edit"
            "[class.text-calm]" = "edit"
          ) edit
    ng-container(*ngIf="edit;else readMode")
      textarea.width-full(
        rows = "30"
        "(change)" = "apply(debugItem.value,$event.target.value)"
        wrap = "off"
      )
        |{{ debugItem.value | json }}
    ng-template(#readMode="")
      absolute-overflow-x
        pre.code-sample
          |{{ debugItem.value | json }}
