h2.margin-top-0 Animations

p.text-grey-2x Make an app far more beautiful when changing scenery

|Currently, all animations are provided by #[a(href="https://npmjs.org/ack-angular-fx") ack-angular-fx]
ul
  li
    a(href="https://ackerapple.github.io/ack-angular-fx/") examples
  li
    a(href="https://github.com/AckerApple/ack-angular-fx") repository

h4 Table of Contents
ul.child-pad-xxs
  li
    a(href="#Import Example" pageScroll) Import Example
  li
    a(href="#Usage Example" pageScroll) Usage Example

h3(id="Import Example") Import Example
pre.code-sample(ngNonBindable).
  import &#123; Component &#125; from '@angular/core'
  import &#123; animations &#125; from 'ack-angular/fx'
  import &#123; BrowserModule &#125; from '@angular/platform-browser'
  import &#123; BrowserAnimationsModule &#125; from '@angular/platform-browser/animations';

  @Component(&#123;
    selector: 'app-tag'
    ,template: 'Hello Template'
    ,animations: animations
  &#125;) class AppComponent &#123;&#125;

  @NgModule(&#123;
    imports : [ BrowserModule, BrowserAnimationsModule ]
    declarations : [ AppComponent ],
    boostrap : [ AppComponent ]
  &#125;) export class AppModule &#123;&#125;

h3(id="Usage Example") Usage Example
pre.code-sample(ngNonBindable).
  &lt;button "(click)"="viewDets=!viewDets")&gt; view details &lt;/button&gt;
  
  &lt;div *ngIf="viewDets" [@slideInLeft]="1"&gt;
    &lt;p&gt;This is some goooooood animated content right here&lt;/p&gt;
    &lt;p&gt;You should try it.&lt;/p&gt;
  &lt;/div&gt;
br

h3 Supporting Examples
p *ngFor *ngIf Stagger Code
.flex-wrap
  fieldset
    label.pad-h *ngFor list with stagger toggle
    ul("[@childStag]"="toggleNgForFx")
      ng-container("*ngFor"="let item of list;let i = index;")
        li.childFx("*ngIf"="!toggleNgForFx" "[@fadeInLeft]"=1)
            |{{item}} - {{i}}
            button("(click)"="list.splice(i,1)") X
    .flex
      input.flex-1("[(ngModel)]"="supportExampleAddItem")
      button("(click)"="list.push(supportExampleAddItem)") add
      button("(click)"="toggleNgForFx=!toggleNgForFx") toggle
br

h3 ngFor ngIf Stagger Code
pre.code-sample(ngNonBindable).
  &lt;ul [@childStag]="toggleNgForFx"&gt;
    &lt;ng-container *ngFor="let item of list;let i = index;"&gt;
      &lt;li class="childFx" *ngIf="!toggleNgForFx" [@fadeInLeft]="1"&gt;
          &#123;&#123;item&#125;&#125; - &#123;&#123;i&#125;&#125;
          &lt;button (click)="list.splice(i,1)"&gt; X &lt;/button&gt;
      &lt;/li&gt;
  &lt;/ul&gt;
  &lt;input class"flex-1" [(ngModel)]="supportExampleAddItem" /&gt;
  &lt;button (click)="list.push(supportExampleAddItem)"&gt; add &lt;/button&gt;
  &lt;button (click)="toggleNgForFx=!toggleNgForFx"&gt; toggle &lt;/button&gt;
br