h3 Common Components
.pad-h
  p.margin-bottom-0 Import Example
  .pad-h.text-warning.text-xs
    |The following import code, is NOT needed if you used the AckModule import #[a.text-calm(href="#/overview" "(click)"="scrollToModuleImport()") seen here]
  pre.code-sample(ngNonBindable).
    import &#123; declarations as ackDecs &#125; from "ack-angular/components"
    import &#123; NgModule &#125; from '@angular/core';

    @NgModule(&#123;
      declarations:ackDecs
    &#125;)

.flex-wrap.child-margin-xxs
  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 var
        .text-grey-2x.max-width-400
          |Create local template variables
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewVar=!viewVar" "[ngClass]"="viewVar?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewVar" "[@500]"="'fadeInUp'")
      .pad-sm
        h4.margin-0 Demo
        p.text-grey-3x.text-sm
          |Each item in list below, has a localized variable
        .flex-wrap.child-margin-xxs(#myVar="var" "[var]"="0")
          button("(click)"="myVar.var=myVar.var+1") outsize memory {{ myVar.var }}
          button(*ngFor="let i of [0,1,2,3]" "#myVar"="var" "[var]"="i" "(click)"="myVar.var=myVar.var+1")
            |click count + index {{ myVar.var }}

      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div #myVar="var" [var]="0"&gt;
            &lt;button (click)="myVar.var=myVar.var+1"&gt;
              outsize memory &#123;&#123; myVar.var &#125;&#125;
            &lt;/button&gt;
            &lt;button *ngFor="let i of [0,1,2,3]" #myVar="var" [var]="i" (click)="myVar.var=myVar.var+1"&gt;
              click count + index &#123;&#123; myVar.var &#125;&#125;
            &lt;/button&gt;
          &lt;/div&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      div("[(statusOnlineModel)]"="statusOnlineModel")
      .pad-h
        h3 statusOnlineModel
        .text-grey-2x.max-width-400
          |Get browser window inner width. #[strong IS ONLINE] :
          .inline-block.width-50 &nbsp;{{ statusOnlineModel }}
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewStatusOnlineModel=!viewStatusOnlineModel" "[ngClass]"="viewStatusOnlineModel?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewStatusOnlineModel" "[@500]"="'fadeInUp'")
      .pad
        .pad.bg-warning.border-warning.border.text-warning
          |Completely turn off your internet and the online status will change.
          br
          |A delay is expected during transition from offline to online
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div("[(statusOnlineModel)]"="statusOnlineModel")&gt;
            |statusOnlineModel : {{ statusOnlineModel ? 'online' : 'offline'}}
          &lt;/div&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      div("[(statusOfflineModel)]"="statusOfflineModel")
      .pad-h
        h3 statusOfflineModel
        .text-grey-2x.max-width-400
          |Get browser window inner width. #[strong IS OFFLINE] :
          .inline-block.width-50 &nbsp;{{ statusOfflineModel }}
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewStatusOfflineModel=!viewStatusOfflineModel" "[ngClass]"="viewStatusOfflineModel?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewStatusOfflineModel" "[@500]"="'fadeInUp'")
      .pad
        .pad.bg-warning.border-warning.border.text-warning
        |Completely turn off your internet and the offline status will change
        br
        |A delay is expected during transition from offline to online
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div("[(statusOfflineModel)]"="statusOfflineModel")&gt;
            |statusOfflineModel : {{ statusOfflineModel ? 'offline' : 'online'}}
          &lt;/div&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 ack-modal
        .text-grey-2x.max-width-400
          |Open simple dialog modal
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewAckModal=!viewAckModal" "[ngClass]"="viewAckModal?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewAckModal" "[@500]"="'fadeInUp'")
      ack-modal("*ngIf"="showAckModal" "(onClose)"="showAckModal=false" "[@500]"="'fadeInUp'" "[(backgroundColor)]"="modalBackgroundColor" "[(wrapStyle)]"="modalWrapStyle")
        .bg-white.border.border-grey-4x.pad-4x.radius-5
          |Sample Modal Dialog Window
          .text-xs.text-grey-2x.pad-h
            |Animation provided by ack-angular-fx [@500]="'fadeInUp'"
      .pad.text-center.flex-wrap.child-margin-xxs
        button.text-lg((click)="showAckModal=1") show modal
        .flex-1.flex-valign-center
          .height-30.pad-h-sm.bg-grey-5x.border.border-grey-4x.border-right-0
            |bg
          input.height-30.flex-1("[(ngModel)]"="modalBackgroundColor")
        .flex-1.flex-valign-center
          .height-30.pad-h-sm.bg-grey-5x.border.border-grey-4x.border-right-0
            |width
          input.height-30.flex-1("(change)"="setModalWrapStyle($event.target.value)" placeholder="default width is content")

      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;ack-modal *ngIf="showAckModal" (onClose)="showAckModal=false" backgroundColor="rgba(255,255,255,0.95)"&gt;
            &lt;div style="background-color:white;padding:1em;"&gt;
              |Sample Modal Dialog Window
            &lt;/div&gt;
          &lt;/ack-model&gt;
          &lt;button (click)="showAckModal=1"&gt; show modal &lt;/button&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      div("[(screenScrollModelY)]"="screenScrollModelY")
      .pad-h
        h3 screenScrollModelY
        .text-grey-2x.max-width-400
          |Get browser window inner width. Currently :
          .inline-block.width-50 &nbsp;{{screenScrollModelY}}px
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewScreenScrollModelY=!viewScreenScrollModelY" "[ngClass]"="viewScreenScrollModelY?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewScreenScrollModelY" "[@500]"="'fadeInUp'")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div("[(screenScrollModelY)]"="screenScrollModelY")&gt;
            |screenScrollModelY : {{ screenScrollModelY }}px
          &lt;/div&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      div("[(screenWidthModel)]"="screenWidthModel")
      .pad-h
        h3 screenWidthModel
        .text-grey-2x.max-width-400
          |Get the browser window inner width. Currently : {{screenWidthModel}}px
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewScreenWidthModel=!viewScreenWidthModel" "[ngClass]"="viewScreenWidthModel?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewScreenWidthModel" "[@500]"="'fadeInUp'")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div("[(screenWidthModel)]"="screenWidthModel")&gt;
          &nbsp;&nbsp;screenWidthModel : {{ screenWidthModel }}px
          &lt;/div&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      div("[(screenHeightModel)]"="screenHeightModel")
      .pad-h
        h3 screenHeightModel
        .text-grey-2x.max-width-400
          |Get the browser window inner height. Currently : {{screenHeightModel}}px
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewScreenHeightModel=!viewScreenHeightModel" "[ngClass]"="viewScreenHeightModel?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewScreenHeightModel" "[@500]"="'fadeInUp'")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div("[(screenHeightModel)]"="screenHeightModel")&gt;
          &nbsp;&nbsp;screenHeightModel : {{ screenHeightModel }}px
          &lt;/div&gt;

  .flex-1("[(elementHeightModel)]"="elementHeightModel")
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 elementHeightModel
        .text-grey-2x.max-width-400
          |Get the browser window inner height. Currently : {{elementHeightModel}}px
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewElementHeightModel=!viewElementHeightModel" "[ngClass]"="viewElementHeightModel?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewElementHeightModel" "[@500]"="'fadeInUp'")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div("[(elementHeightModel)]"="elementHeightModel")&gt;
          &nbsp;&nbsp;elementHeightModel : {{ elementHeightModel }}px
          &lt;/div&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 onFormChanged
        .text-grey-2x.max-width-400
          |Capture a form tag onchange event
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewOnFormChanged=!viewOnFormChanged" "[ngClass]"="viewOnFormChanged?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewOnFormChanged" "[@500]"="'fadeInUp'")
      h4.pad-sm.margin-0 Example
      form.pad("(onFormChanged)"="formChanges=formChanges==null?1:formChanges+1")
        span Change Count : {{formChanges || 0}} :
        |&nbsp;
        input(type="radio" name="fcTest")
        |&nbsp;
        input(type="radio" name="fcTest")
        |&nbsp;
        input(type="radio" name="fcTest")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;form (onFormChanged)="formChanges=formChanges==null?1:formChanges+1" &gt;
            &lt;span&gt; Change Count : {{formChanges || 0}} &lt;/span&gt;
            &lt;input type="radio" name="fcTest" /&gt;
            &lt;input type="radio" name="fcTest" /&gt;
            &lt;input type="radio" name="fcTest" /&gt;
          &lt;/form&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 onFormAlter
        .text-grey-2x.max-width-400
          |Capture a form tag oninput event
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewOnFormAlter=!viewOnFormAlter" "[ngClass]"="viewOnFormAlter?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewOnFormAlter" "[@500]"="'fadeInUp'")
      .pad.text-info Fires for every form input alteration and NOT just after a change occurred
      h4.pad-sm.margin-0 Example
      form.pad("(onFormAlter)"="formAlters=formAlters==null?1:formAlters+1")
        span Alter Count : {{formAlters || 0}} :
        input(type="text")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;form (onFormAlter)="formAlters=formAlters==null?1:formAlters+1" &gt;
            &lt;span&gt; Alter Count : {{formAlters || 0}} &lt;/span&gt;
            &lt;input type="text" /&gt;
          &lt;/form&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 onEnterKey
        .text-grey-2x.max-width-400
          |Capture keyUp events when enter key used
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewOnEnterKey=!viewOnEnterKey" "[ngClass]"="viewOnEnterKey?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewOnEnterKey" "[@500]"="'fadeInUp'")
      .pad.text-info Fires for every onKeyUp event where enter key was pressed
      h4.pad-sm.margin-0 Example
      .flex.child-margin-xs.pad-xs
        span Enter Count : {{enterCountKey || 0}}
        input.flex-1(type="text" "(onEnterKey)"="enterCountKey=enterCountKey==null?1:enterCountKey+1" placeholder="type here and use enter key")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;span&gt; Enter Count : {{enterCountKey || 0}} &lt;/span&gt;
          &lt;input type="text" (onEnterKey)="enterCountKey=enterCountKey==null?1:enterCountKey+1" placeholder="type here and use enter key" /&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 preventBackKey
        .text-grey-2x.max-width-400
          |Prevent the use of the backspace key
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewPreventBackKey=!viewPreventBackKey" "[ngClass]"="viewPreventBackKey?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewPreventBackKey" "[@500]"="'fadeInUp'")
      .pad.text-info Prevents and fires every onKeyUp event where backspace key was pressed
      h4.pad-sm.margin-0 Example
      .flex.child-margin-xs.pad-xs
        span Backspace Count : {{backspaceCount || 0}}
        input.flex-1(type="text" "(preventBackKey)"="backspaceCount=backspaceCount==null?1:backspaceCount+1" placeholder="type here and use enter key")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;span&gt; Backspace Count : {{backspaceCount || 0}} &lt;/span&gt;
          &lt;input type="text" (preventBackKey)="backspaceCount=backspaceCount==null?1:backspaceCount+1" placeholder="type here and then use backspace key" /&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 preventEnterKey
        .text-grey-2x.max-width-400
          |Prevent the use of the enter keys
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewPreventEnterKey=!viewPreventEnterKey" "[ngClass]"="viewPreventEnterKey?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewPreventEnterKey" "[@500]"="'fadeInUp'")
      .pad.text-info Prevents and fires every onKeyUp event where enter key was pressed
      h4.pad-sm.margin-0 Example
      .flex.child-margin-xs.pad-xs
        span Enter Count : {{preventEnterCount || 0}}
        input.flex-1(type="text" "(preventEnterKey)"="preventEnterCount=preventEnterCount==null?1:preventEnterCount+1" placeholder="type here and use enter key")
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;span&gt; Enter Count : {{preventEnterCount || 0}} &lt;/span&gt;
          &lt;input type="text" (onEnterKey)="preventEnterCount=preventEnterCount==null?1:preventEnterCount+1" placeholder="type here and use enter key" /&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 innerHtmlModel
        .text-grey-2x.max-width-400
          |Capture an elements innerHTML into a model
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewInnerHtmlModel=!viewInnerHtmlModel" "[ngClass]"="viewInnerHtmlModel?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewInnerHtmlModel" "[@500]"="'fadeInUp'")
      h4.pad-sm.margin-0 Example
      div("[(innerHtmlModel)]"="innerHtmlModel")
        button("(click)"="contentArray.push('')") add content
        span(*ngFor="let item of contentArray")
          |&#10;
          button("(click)"="contentArray.push('')") add content
      absolute-overflow-y
        pre.code-sample.margin-0 {{ innerHtmlModel }}
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;span&gt; Enter Count : {{preventEnterCount || 0}} &lt;/span&gt;
          &lt;input type="text" (onEnterKey)="preventEnterCount=preventEnterCount==null?1:preventEnterCount+1" placeholder="type here and use enter key" /&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 shakeOn
        .text-grey-2x.max-width-400
          |Control an animated shaking effect on demand
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewShakeOn=!viewShakeOn" "[ngClass]"="viewShakeOn?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewShakeOn" "[@500]"="'fadeInUp'")
      .pad
        .pad-xs.bg-warning.border-warning.text-warning.border
          |You will need to &lt;link&gt; one of two style sheets:
          ul
            li ack-angular/ack-angular.css
            li - or -
            li ack-angular/csshake.css
      h4.pad-sm.margin-0 Example
      .pad
        label([shakeOn]="shakeOn" "(shakeThen)"="shakeOn=false" "[(shakeRef)]"="shakeRef" "[(shakeForMs)]"="shakeForMs" "[(shakeType)]"="shakeOnType")
          |shake this text :: {{ shakeOn||false }}
        |&nbsp;
        button("(click)"="shakeOn=!shakeOn") shake:{{shakeOn||false}}
        |&nbsp;
        select("[(ngModel)]"="shakeOnType" "(change)"="shakeOn=true")
          option(*ngFor="let item of (shakeRef?shakeRef.shakeTypes:[])" value="{{item}}") {{item}}
        |&nbsp;
        input("[(ngModel)]"="shakeForMs" "(change)"="shakeOn=true")

      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;label [shakeOn]="shakeOn" (shakeThen)="shakeOn=false" [(shakeRef)]="shakeRef" [(shakeForMs)]="shakeForMs" [(shakeType)]="shakeOnType"&gt;
            |shake this text :: {{ shakeOn||false }}
          &lt;/label&gt;
          &lt;button (click)="shakeOn=true"&gt; shake:{{shakeOn||false}} &lt;/button&gt;
          &lt;select [(ngModel)]="shakeOnType" (change)="shakeOn=true"&gt;
            &lt;option *ngFor="let item of (shakeRef?shakeRef.shakeTypes:[])" value="{{item}}"&gt;{{item}}&lt;/option&gt;
          &lt;/select&gt;
          &lt;input [(ngModel)]="shakeForMs" (change)="shakeOn=true" /&gt;

br
h3.margin-bottom-0 Layout Components
.pad
  .pad.bg-warning.border-warning.text-warning.border
    |You will need to &lt;link&gt; one of two style sheets:
    ul
      li ack-angular/ack-angular.css
      li - or -
      li ack-angular/ack-css-boot.css
.flex-wrap.child-margin-xxs
  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 absolute-overflow-y
        .text-grey-2x.max-width-400
          |Control pre and nowrap elements y-axis overflow
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="absoluteOverflowY=!absoluteOverflowY" "[ngClass]"="absoluteOverflowY?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="absoluteOverflowY" "[@500]"="'fadeInUp'")
      .pad
        .pad.bg-info.text-info.text-info
          |Often, pre elements and nowrap styles, make it hard to contronl y-axis overflow.
          p The following component, uses a relative and a absolute position elements along with height monitoring to manage y-axis overflow.
          p A no-sroll-bar option is defaulted to remove overflow scroll bars.
      h4.pad-sm.margin-0 Example
      .pad
        absolute-overflow-y
          //-.pad-xs
            input(type="checkbox" "[(ngModel)]"="scrollBars" name="scrollBars")
            |&nbsp;scrollBars
          .nowrap &nbsp;&nbsp;This content all runs on one line flat out for as long as I can stand to stand typing at a Veridesk in Delray Beach, FL. Not that long it turns out...
          //-pre
            |&lt;pre&gt;
            |&nbsp;&nbsp;This PRE ELEMENT content all runs on one line flat out for as long as I can stand to stand typing at a Veridesk in Delray Beach, FL. Not that long it turns out...
            |&lt;/pre&gt;
        h4.pad-sm.margin-0 Usage Example
        absolute-overflow-y
          pre.code-sample.margin-0(ngNonBindable).
            &lt;absolute-overflow-y&gt;
            &nbsp;&nbsp;&lt;div style="white-space:nowrap;"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;This content all runs on one line flat out for as long as I can stand to stand typing at a Veridesk in Delray Beach, FL. Not that long it turns out...
            &nbsp;&nbsp;&lt;/div&gt;
            &lt;/absolute-overflow-y&gt;

  .flex-1
    .border.border-grey-4x.border.border-bottom-0
      .pad-h
        h3 error-well
        .text-grey-2x.max-width-400
          |a smart and simple place to display errors
        br
    .text-center
      a.block.border.pad-xxs.hover-bg-warning("(click)"="viewErrorWell=!viewErrorWell" "[ngClass]"="viewErrorWell?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewErrorWell" "[@500]"="'fadeInUp'")
      h4.pad-sm.margin-0 Example
      .pad
        select(name="cssClasses" "[(ngModel)]"="cssClasses")
          option(value="bg-info border-info text-info") bg-info border-info text-info
          option(value="bg-warning border-warning text-warning") bg-warning border-warning text-warning
          option(value="bg-danger border-danger text-danger") bg-danger border-danger text-danger
          option(value="bg-energized border-energized text-energized") bg-energized border-energized text-energized
          option(value="bg-calm border-calm text-calm") bg-calm border-calm text-calm
          option(value="bg-assertive border-assertive text-assertive") bg-assertive border-assertive text-assertive
          option(value="bg-success border-success text-success") bg-success border-success text-success
          option(value="bg-positive border-positive text-positive") bg-positive border-positive text-positive
          option(value="bg-balanced border-balanced text-balanced") bg-balanced border-balanced text-balanced
          option(value="bg-stable border-stable text-stable") bg-stable border-stable text-stable
          option(value="bg-dark border-dark text-dark") bg-dark border-dark text-dark
          option(value="bg-royal border-royal text-royal") bg-royal border-royal text-royal
        error-well.margin("[error]"="error" "[cssClasses]"="cssClasses")
        button("(click)"="causeError()") cause error
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;error-well [error]="error"&gt;&lt;/error-well&gt;
          &lt;button("(click)"="causeError()") cause error &lt;/button&gt;

br
h3 Complex Components
.pad-h
  p.margin-bottom-0 Components that have additional dependencies or restrictions
.flex-wrap.child-margin-xxs
  .flex-1.border.border-grey-4x.border
    .pad-h
      h3 route-reporter
      .text-grey-2x.max-width-400
        |Get in tune with your document route states using @angular/router
      br
    .text-center
      .border.pad-xxs("(click)"="viewRouteReporter=!viewRouteReporter" "[ngClass]"="viewRouteReporter?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewRouteReporter" "[@500]"="'fadeInUp'")
      .pad Requirements
        ul
          li route-reporter
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;route-reporter [(ref)]="" (beforeChange)="" (onChange)=""&gt;
      h4.pad-sm.margin-0 ref example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;route-reporter [(ref)]="routeState" &gt;
          -----------------------------------------
          routeState:{{ routeState|json }}
  //-.flex-1.border.border-grey-4x.border
    .pad-h
      h3 ui-route-reporter
      .text-grey-2x.max-width-400
        |Get in tune with your document route states using ui-router-ng2
      br
    .text-center
      .border.pad-xxs("(click)"="viewUiRouteReporter=!viewUiRouteReporter" "[ngClass]"="viewUiRouteReporter?'border-energized bg-energized':'border-info bg-info'")
        |view details
    .border.border-top-0.border-grey-4x.bg-stable(*ngIf="viewUiRouteReporter" "[@500]"="'fadeInUp'")
      .pad Requirements
        ul
          li ui-router-ng2
      h4.pad-sm.margin-0 Usage Example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;ui-route-reporter [(ref)]="" (beforeChange)="" (onChange)=""&gt;
      h4.pad-sm.margin-0 ref example
      absolute-overflow-y
        pre.code-sample.margin-0(ngNonBindable).
          &lt;ui-route-reporter [(ref)]="routeState" &gt;
          -----------------------------------------
          routeState:{{ routeState|json }}
