.text-xs.text-grey-2x
  |NOTE: This is not a sponsored nor paid advertisement. Just a showing of love for pinball.

p As a boy I fell in love with pinball, especially the memories with my mom yelling at the exciting parts of pinball play.

br

p.text-grey-2x Then for years pinball disappeard, along with the arcades, for quite some time.

br 

p I have fallen back into loving pinball! Pinball is back! And I only had to play this modern pinball machine one time, The Wizard of Oz - 75th Anniversary Edition by #[a(href="http://www.jerseyjackpinball.com/") Jersey Jack Pinball].

p You should check her out too. She's a beauty with her purty color changing lights.

.text-center
  a(href="http://www.jerseyjackpinball.com/")
    img(src="wizard75.png" border=0)
    .margin.text-info.text-xs tap image above