h2.margin-top-0 Jersey Jack's The Wizard of Oz

//- !removed : autoplay - Android Chrome (ChromeBook), does not support
audio(style="display:none;")
  source(src="WoZ.mp3" type="audio/mpeg")

.text-xs.text-grey-2x.text-center
  |NOTE: This is not a sponsored nor paid advertisement. Just a showing of love for pinball.

.text-center.flex-center.flex-wrap
  .flex-1
    a(href="http://www.jerseyjackpinball.com/")
      img.width-full(src="wizard75.png" style="max-width:497px;" border=0)
      .margin.text-info.text-xs tap image above
//-
  .flex-1
    br
    br
    br
    .inline-block.radius-5.line-height-0(style="border:10px solid black")
      img(src="WoZ_led_show.gif" border=0)

//-
  .flex-wrap.flex-center
    .pad
      .radius-5.line-height-0(style="border:10px solid black")
        img(src="WoZ_led_InOut.gif" border=0)

.max-width-600
  p As a boy I fell in love with pinball, especially the memories with my mom yelling at the exciting parts of pinball play.

  p.text-grey-2x Then for years pinball disappeard along with the arcades, for quite some time.

  p I have fallen back into loving pinball! Pinball is back! And I only had to play this modern pinball machine one time, The Wizard of Oz - 75th Anniversary Edition by #[a(href="http://www.jerseyjackpinball.com/") Jersey Jack Pinball]. This machine with it's great marriage of hardware to software, pulled the child out of this Software Engineer.

  p You should check her out too. She's a beauty with her purty color changing LED lights.

  p.text-grey _Acker Apple