h2.margin-top-0 Overview

p.pad-h
  strong ack-angular
  |&nbsp;is extra special directives, components, providers and pipes to aide in tackling everyday Angular2 driven development.

h4 Table of Contents
ul.margin-top-0
  li
    a(href="#Install ack-angular" pageScroll) Install ack-angular
  li
    a(href="#Import AckModule" pageScroll) Import AckModule
  li
    a(href="#Requirements" pageScroll) Requirements
  li
    a(href="#This Demo Area" pageScroll) This Demo Area
  li
    a(href="#Available Stylesheets" pageScroll) Available Stylesheets
  li
    a(href="#Resources" pageScroll) Resources
  li
    a(href="#My Personal TypeScript Opinion" pageScroll) My Personal TypeScript Opinion
  li
    a(href="#ack-angularjs" pageScroll) ack-angularjs

br

h3.margin-bottom-0(id="Install ack-angular") Install ack-angular

p Install jsDependencies via #[a(href="https://www.npmjs.com/package/ack-webpack") ack-webpack]

.pad.text-grey-2x.text-sm
  |NOTE : ack-webpack reads the jsDependencies in a package.json to then install packages. Also when ack-webpack is installed, it auto adds a script entry to your package.json file to make CLI commands easier.

strong Step 1
pre.code-sample
  |npm install ack-webpack --save-dev

strong Step 2
pre.code-sample
  |npm run ack-webpack -- install ack-angular

br

h3.margin-bottom-0(id="Import AckModule") Import AckModule
.pad
  p Most all functionality can be achieved by importing AckModule
  p Example
  pre.code-sample.
    import &#123;
      AckModule,
      AckRouterModule // if using routing components
      AckOfflineModule // if using local storage components
    &#125; from "ack-angular"
    import &#123; NgModule &#125; from "@angular/core"

    @NgModule(&#123;
      imports:[
        AckModule.forRoot(),
        AckRouterModule.forRoot(), // if using routing components
        AckOfflineModule.forRoot(), // if using local storage components
      ]
    &#125;)

  .pad-xxs
    .pad.bg-warning.bg-warning.text-warning
      |NOTE : You need to have the #[a(href="https://www.typescriptlang.org/docs/handbook/compiler-options.html") allowSyntheticDefaultImports compiler option] set to #[strong true] in your #[a(href="https://www.typescriptlang.org/docs/handbook/tsconfig-json.html") tsconfig.json].

br

h3.margin-bottom-0(id="Requirements") Requirements
.pad
  p It is very important to understand what connects where
ul
  li core angular components are expected to have already been installed
  ul
    li reflect-metadata
    li @angular/core
    li @angular/common/http
  li jsDependencies
  ul
    li
      a(href="https://www.npmjs.com/package/ack-angular-fx")
        |ack-angular-fx
    ul
      li only required for animation implementing
      li The following code would depend on ack-angular-fx installation
        pre.code-sample.
          import * as fx from "ack-angular/fx"
    li
      a(href="https://www.npmjs.com/package/@angular/router") @angular/router
    ul
      li only required for @angular/router based ack-angular component and services
      li The following code would depend on @angular/router installation
        pre.code-sample.
          import &#123; RouteReporter &#125; from "ack-angular/RouteReporter.directive"
          import &#123; RouteWatchReporter &#125; from "ack-angular/RouteWatchReporter"
        //-pre.code-sample.
          import &#123; UiRouteReporter &#125; from "ack-angular/UiRouteReporter.directive"
          import &#123; UiRouteWatchReporter &#125; from "ack-angular/UiRouteWatchReporter"
    li
      a(href="https://www.npmjs.com/package/ui-router-ng2") ui-router-ng2
    ul
      li only required for ui-router-ng2 based ack-angular component and services
      li The following code would depend on ui-router-ng2 installation
        pre.code-sample.
          import &#123; UiRouteReporter &#125; from "ack-angular/UiRouteReporter.directive"
          import &#123; UiRouteWatchReporter &#125; from "ack-angular/UiRouteWatchReporter"

br

h3(id="This Demo Area") This Demo Area
ul
  li Uses hash routing to support github's gh-pages servers which do not support html5 non-hash routing
  li Pagescrolling, which is not a jsDependency of ack-angular, is provided by #[a(href="https://www.npmjs.com/package/ng2-page-scroll") ng2-page-scroll]

br

h3(id="Available Stylesheets") Available Stylesheets
.pad-h
  p ack-angular offers common animation, Ionic, and Bootstrap like classes
ul
  li
    a(href="https://www.npmjs.com/package/csshake") csshake
  ul
    li File Location : ack-angular/csshake.css
  li
    a(href="https://www.npmjs.com/package/ack-css-boot") ack-css-boot
  ul
    li File Location : ack-angular/ack-css-boot.css
  li ack-angular
  ul
    li Includes the following stylesheets
    ul
      li
        span.code-sample(style="display:inline") * &#123;box-sizing:border-box&#125;
      li csshake
      li ack-css-boot

br

h3(id="Resources") Resources
ul
  li #[a(href="https://github.com/AckerApple/ack-angular") Repository]
  li #[a(href="https://angular.io/docs/ts/latest/guide/cheatsheet.html") Angular2 Cheatsheet]

h3(id="My Personal TypeScript Opinion") My Personal TypeScript Opinion
.pad-h
  .border-left-5.border-grey-5x.bg-stable.pad
    i "TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.""
    .text-sm.pad-top
      a(href="https://www.typescriptlang.org/") typescriptlang.org
  p The above statement is just not 100% true, it's more like 96.5%
ul
  li ISSUE : #[a(href="https://github.com/Microsoft/TypeScript/issues/6373") TS2339]
  ul
    li Error Message : Property 'name' does not exist on type '&#123;&#125;'
    li Cannot create object and then add properties to it that were not already defined
    li
      pre.code-sample.
        let obj = &#123;&#125;
        obj.name = "name prop"
      div.text-grey-2x.text-sm The above code, under most ts configurations, will fail
  li ISSUE : #[a(href="https://github.com/Microsoft/TypeScript/issues/6373") TS2346]
  ul
    li Error Message : Supplied parameters do not match any signature of call target.
    li You have to call a function with exact number of arguments OR put a question mark in your argument definition
    li
      pre.code-sample.
        function myFunc(a,b,c)&#123;&#125;

        myFunc(1)
      div.text-grey-2x.text-sm The above code, under most ts configurations, will fail
    li Fix
      pre.code-sample.
        function myFunc(a,b?,c?)&#123;&#125;

        myFunc(1)

br

h3(id="ack-angularjs") ack-angularjs
.pad-h
  p ack-angular is a continuation of successful directives, services, and filters that were established for AngularJs during the building of #[a(href="https://github.com/AckerApple/ack-angularjs") ack-angularjs]
