h2.margin-top-0 Pipes

p.text-sm.text-grey-2x Decorate and filter output via Pipes

p.margin-bottom-0 Import Example
.pad-h.text-warning.text-xs
  |The following import code, is NOT needed if you used the AckModule import #[a.text-calm(href="#/overview" "(click)"="scrollToModuleImport()") seen here]
pre.code-sample.
  import &#123; NgModule &#125; from '@angular/core'
  import &#123; AppComponent &#125; from './SomeRandomComponent'
  
  import * as ackPipes from 'ack-angular/pipes'

  @NgModule(&#123;
    declarations : [ AppComponent, ...ackPipes.declarations ]
  &#125;) export class AppModule &#123;&#125;
  
br

h3(id="Documentation") Documentation

.flex-wrap.child-margin-xxs
  .flex3.border-grey-6x.border.width-full
    .pad-h
      h3 textDownload &amp; safeUrl
      p.text-sm.text-grey-2x Cast string to a data:text/plain uri
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.SafeUrl=!views.SafeUrl" "[ngClass]"="views.SafeUrl?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.SafeUrl" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable).
            &lt;a [href]="'Usage Examples' | textDownload | safeUrl" download="download.txt"&gt;
              download
            &lt;/a&gt;
          span.pad-h == #[a([href]="'Usage Examples' | textDownload | safeUrl" download="download.txt") download]

  .flex2.border-grey-6x.border.width-full
    .pad-h
      h3 safeStyle
      p.text-sm.text-grey-2x Cast string to safe style
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.safeStyle=!views.safeStyle" "[ngClass]"="views.safeStyle?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.safeStyle" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable).
            &lt;span [ngStyle]="&#123;'...':('...'|safeStyle)&#125;"&gt;
              trusted style
            &lt;/span&gt;
          span.pad-h == #[span("[ngStyle]"="{'...':('...'|safeStyle)}") safe styled]

  .flex3.border-grey-6x.border.width-full
    .pad-h
      h3 safeHtml
      p.text-sm.text-grey-2x Cast string to safe html
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.safeHtml=!views.safeHtml" "[ngClass]"="views.safeHtml?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.safeHtml" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable).
            &lt;span class="safeHtml" [innerHtml]="'&lt;style&gt;.safeHtml&#123;border:1px solid purple&#125;.safeHtml::before&#123;content:\\"trusted html\\"&#125;&lt;/style&gt;'|safeHtml"&gt;
              untrusted html
            &lt;/span&gt;
          span.pad-h ==&nbsp;
          span(class="safeHtml" "[innerHtml]"="'<style>.safeHtml{border:1px solid purple}.safeHtml::before{content:\\\"trusted html\\\"}</style>'|safeHtml")
            |untrusted html

  .flex2.border-grey-6x.border
    .pad-h
      h3 markdownAnchor
      p.text-sm.text-grey-2x Cast string to a github markdown #anchor
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"="views.markdownAnchor=!views.markdownAnchor"
      "[ngClass]"="views.markdownAnchor?'border-energized bg-energized':'border-info bg-info'"
    )
      |view details
    div(*ngIf="views.markdownAnchor" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 'Usage Examples' | markdownAnchor }}
          span.pad-h == {{ 'Usage Examples' | markdownAnchor }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 typeof
      p.text-sm.text-grey-2x Result of native javascript typeof
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"="views.typeof=!views.typeof"
      "[ngClass]"="views.typeof?'border-energized bg-energized':'border-info bg-info'"
    )
      |view details
    div(*ngIf="views.typeof" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 0 | typeof }}
          span.pad-h == {{ 0 | typeof }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 endNumberWord
      p.text-sm.text-grey-2x Decides to add an "s" at the end of a word
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"="views.endNumberWord=!views.endNumberWord"
      "[ngClass]"="views.endNumberWord?'border-energized bg-energized':'border-info bg-info'"
    )
      |view details
    div(*ngIf="views.endNumberWord" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          div
            span(ngNonBindable) balloon{{ 0 | endNumberWord }}
            span.pad-h == balloon{{ 0 | endNumberWord }}
          div
            span(ngNonBindable) balloon{{ 1 | endNumberWord }}
            span.pad-h == balloon{{ 1 | endNumberWord }}
          div
            span(ngNonBindable) balloon{{ 2 | endNumberWord }}
            span.pad-h == balloon{{ 2 | endNumberWord }}
          div
            span(ngNonBindable) balloon{{ 2 | endNumberWord }}
            span.pad-h == balloon{{ 2 | endNumberWord }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 between
      p.text-sm.text-grey-2x (input &gt;= a &amp;&amp; input &lt;= b) || (input &lt;= a &amp;&amp; input &gt;= b)
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"="views.between=!views.between"
      "[ngClass]"="views.between?'border-energized bg-energized':'border-info bg-info'"
    )
      |view details
    div(*ngIf="views.between" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 10 | between : 5 : 15 }}
          span.pad-h == {{ 10 | between : 5 : 15 }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 numberSuffix
      p.text-sm.text-grey-2x suffix for a given number {{ 1|numberSuffix:1 }} {{ 2|numberSuffix:1 }} {{ 3|numberSuffix:1 }}
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"="views.numberSuffix=!views.numberSuffix"
      "[ngClass]"="views.numberSuffix?'border-energized bg-energized':'border-info bg-info'"
    ) view details
    div(*ngIf="views.numberSuffix" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          div
            span(ngNonBindable) 1{{ 1 | numberSuffix }}
            span.pad-h == 1{{ 1 | numberSuffix }}
          div
            span(ngNonBindable) {{ 2 | numberSuffix : true }}
            span.pad-h == {{ 2 | numberSuffix : true }}
          div
            span(ngNonBindable) 0{{ '0' | numberSuffix }}
            span.pad-h == 0{{ '0' | numberSuffix }}
          div
            span(ngNonBindable) {{ null | numberSuffix }}
            span.pad-h == {{ null | numberSuffix }}
          div
            span(ngNonBindable) 13{{ '13' | numberSuffix }}
            span.pad-h == 13{{ '13' | numberSuffix }}
          div
            span(ngNonBindable) {{ '33' | numberSuffix : 1 }}
            span.pad-h == {{ '33' | numberSuffix : 1 }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 numberToPhone
      p.text-sm.text-grey-2x Converts numbers in input into basic phone format
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"="views.numberToPhone=!views.numberToPhone"
      "[ngClass]"="views.numberToPhone?'border-energized bg-energized':'border-info bg-info'"
    ) view details
    div(*ngIf="views.numberToPhone" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          div
            span(ngNonBindable) {{ 8779276969 | numberToPhone }}
            span.pad-h == {{ 8779276969 | numberToPhone }}
          div
            span(ngNonBindable) {{ 'L8O7V7E9D2O7C6T9O6R9S' | numberToPhone }}
            span.pad-h == {{ 'L8O7V7E9D2O7C6T9O6R9S' | numberToPhone }}
          div
            span(ngNonBindable) {{ 'L8O7V7E9D2O' | numberToPhone }}
            span.pad-h == {{ 'L8O7V7E9D2O7C6T9O6' | numberToPhone }}
          div
            span(ngNonBindable) {{ 'L8O7V7E9D2O7C6T9O6' | numberToPhone }}
            span.pad-h == {{ 'L8O7V7E9D2O' | numberToPhone }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 indexTrack
      p.text-sm.text-grey-2x Force ngFor into trackBy index
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"="views.indexOf=!views.indexOf"
      "[ngClass]"="views.indexOf?'border-energized bg-energized':'border-info bg-info'"
    )
      |view details
    div(*ngIf="views.indexOf" "[@fadeInOutUp]"=1)
      .pad-xs.text-info.text-sm
        |Simple arrays like ["a","b","c"] are hard to work with ngFor + ngModel

      strong With indexTrack
      div(*ngFor="let item of simpleArray; let i=index; trackBy:0|indexTrack")
        input.width-full("[(ngModel)]"="simpleArray[i]")

      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div *ngFor="let item of simpleArray; let i=index; trackBy:0|indexTrack"&gt;
            &lt;input [(ngModel)]="simpleArray[i]" /&gt;
          &lt;/div&gt;
      br
      strong.text-warning Without indexTrack
      .text-xs.text-grey-2x.pad-left-xs
        |Inputs blur as you type in them
      div(*ngFor="let item of simpleArray; let i=index; trackBy:index")
        input.width-full("[(ngModel)]"="simpleArray[i]")


  .flex2.border-grey-6x.border
    .pad-h
      h3 arrayOfObjects
      p.text-sm.text-grey-2x(ngNonBindable).
        Param and cast an array into an array of &#123;value, index&#125; objects
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.arrayOfObjects=!views.arrayOfObjects" "[ngClass]"="views.arrayOfObjects?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.arrayOfObjects" "[@fadeInOutUp]"=1)
      .pad-xs.text-warning.
        Having troubles with *ngFor [(ngModel)] for simple array of strings? Try indexTrack, it's within ack-angular, first because it works far better
      
      .pad-xs.text-info.text-sm
        |Simple arrays like ["a","b","c"] are hard to work with ngFor + ngModel. This pipe can help with that (not as well as indexTrack pipe)

      strong With arrayOfObjects
      div(*ngFor="let item of simpleArray|arrayOfObjects")
        input.width-full("[(ngModel)]"="simpleArray[ item.index ]")

      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          &lt;div *ngFor="let item of simpleArray|arrayOfObjects"&gt;
            &lt;input [(ngModel)]="simpleArray[ item.index ]" /&gt;
          &lt;/div&gt;
      br
      strong.text-warning Without arrayOfObjects
      .text-xs.text-grey-2x.pad-left-xs
        |Inputs blur as you type in them
      div(*ngFor="let item of simpleArray; let i=index; trackBy:index")
        input.width-full("[(ngModel)]"="simpleArray[i]")

  .flex2.border-grey-6x.border
    .pad-h
      h3 array : repeat : repeatValue
      p.text-sm.text-grey-2x Force any variable to array
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.array=!views.array" "[ngClass]"="views.array?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.array" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 'a' | array }}
          span.pad-h == {{ 'a' | array | stringify }}
          br
          span(ngNonBindable) {{ 'a' | array : 3 }}
          span.pad-h == {{ 'a' | array : 3 | stringify }}
          br
          span(ngNonBindable) {{ ['a'] | array : 3 : 1 }}
          span.pad-h == {{ ['a'] | array:3:1 | stringify }}
          br
          span(ngNonBindable) {{ 'a' | array : 3 : 1 }}
          span.pad-h == {{ 'a' | array : 3 : 1 | stringify }}
          br
          span(ngNonBindable) {{ 0 | array : 3 : 'b' }}
          span.pad-h == {{ 0 | array : 3 : 'b' | stringify }}
          br
          span(ngNonBindable) {{ 'c' | array : 3 }}
          span.pad-h == {{ 'c' | array : 3 | stringify }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 console
      p.text-sm.text-grey-2x console log result of native console.log() function
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.console=!views.console" "[ngClass]"="views.console?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.console" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          {{ 'message1' | console : 'message2' }}

  .flex3.border-grey-6x.border
    .pad-h
      h3 capitalize
      p.text-sm.text-grey-2x Each sentence leading word is capitalized
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.capitalize=!views.capitalize" "[ngClass]"="views.capitalize?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.capitalize" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          {{ 'how do you do?' | capitalize }} == How do you do?

  .flex2.border-grey-6x.border
    .pad-h
      h3 capitalizeWords
      p.text-sm.text-grey-2x Every word is capitalized
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.capitalizeWords=!views.capitalizeWords" "[ngClass]"="views.capitalizeWords?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.capitalizeWords" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          {{ 'how do you do?' | capitalizeWords }} == How Do You Do?

  .flex2.border-grey-6x.border
    .pad-h
      h3 bit
      p.text-sm.text-grey-2x Truthy value converts to: 1. Otherwise: 0
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.bit=!views.bit" "[ngClass]"="views.bit?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.bit" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          div
            span(ngNonBindable) {{ 'true' | bit }}
            span &nbsp;==&nbsp;
            span {{ 'true' | bit }}
          div
            span(ngNonBindable) {{ '0' | bit }}
            span &nbsp;==&nbsp;
            span {{ '0' | bit }}
          div
            span(ngNonBindable) {{ 'false' | bit }}
            span &nbsp;==&nbsp;
            span {{ 'false' | bit }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 boolean
      p.text-sm.text-grey-2x Truthy value converts to: true. Otherwise: false
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.boolean=!views.boolean" "[ngClass]"="views.boolean?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.boolean" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          div
            span(ngNonBindable) {{ 1 | boolean }}
            span &nbsp;==&nbsp;
            span {{ 1 | boolean }}
          div
            span(ngNonBindable) {{ '0' | boolean }}
            span &nbsp;==&nbsp;
            span {{ '0' | boolean }}
          div
            span(ngNonBindable) {{ 'false' | boolean }}
            span &nbsp;==&nbsp;
            span {{ 'false' | boolean }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 yesno
      p.text-sm.text-grey-2x Truthy value converts to: yes. Otherwise: no
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.yesno=!views.yesno" "[ngClass]"="views.yesno?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.yesno" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          {{ 'true' | yesno }} == yes

  .flex2.border-grey-6x.border
    .pad-h
      h3 YesNo
      p.text-sm.text-grey-2x Truthy value converts to: Yes. Otherwise: No
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.yesNo=!views.yesNo" "[ngClass]"="views.yesNo?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.yesNo" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          {{ 1 | YesNo }} == Yes

  .flex2.border-grey-6x.border
    .pad-h
      h3 numbers
      p.text-sm.text-grey-2x Removes anything not a number from a string
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.numbers=!views.numbers" "[ngClass]"="views.numbers?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.numbers" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0(ngNonBindable).
          {{ 'sam123acb456xyz' | numbers }} == 123456

  .flex2.border-grey-6x.border
    .pad-h
      h3 keys
      p.text-sm.text-grey-2x List of keys for an Object
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.keys=!views.keys" "[ngClass]"="views.keys?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.keys" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ {x:1,y:2,z:3} | keys }}
          span.pad-h-sm ==
          span {{ {x:1,y:2,z:3} | keys | ack:['stringify',0] }}
  
  .flex2.border-grey-6x.border
    .pad-h
      h3 aDate
      p.text-sm.text-grey-2x A different approach @ date decorating
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.aDate=!views.aDate" "[ngClass]"="views.aDate?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.aDate" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 0 | aDate : 'now' : 'date' : 'getTime' }}
          span &nbsp;== {{ 0 | aDate:'now':'date':'getTime' }}
          br
          br
          span(ngNonBindable) {{ 0 | aDate : 'now' : 'hmmtt' }}
          span &nbsp;== {{ 0 | aDate : 'now' : 'hmmtt' }}
          br
          br
          span(ngNonBindable) {{ 0 | aDate : 'now' : 'hhmmtt' }}
          span &nbsp;== {{ 0 | aDate : 'now' : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ null | aDate : 'now' : 'hmmtt' }}
          span &nbsp;== {{ null | aDate : 'now' : 'hmmtt' }}
          br
          br
          span(ngNonBindable) {{ null | aDate : 'now' : 'hhmmtt' }}
          span &nbsp;== {{ null | aDate : 'now' : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ 0 | aDate : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
          span &nbsp;== {{ 0 | aDate : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
          br
          br
          span(ngNonBindable) {{ '01/01/2014 2:00 am' | aDate : ['dateMinuteDiff','01/02/2014 2:00 am'] }}
          span &nbsp;== {{ '01/01/2014 2:00 am' | aDate : ['dateMinuteDiff','01/02/2014 2:00 am'] }}

  
  .flex2.border-grey-6x.border
    .pad-h
      h3 aTime
      p.text-sm.text-grey-2x A different approach @ time decorating
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.aTime=!views.aTime" "[ngClass]"="views.aTime?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.aTime" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 0 | aTime : 'now' : 'date' }}
          span &nbsp;== {{ 0 | aDate:'now':'date':'getTime' }}
          br
          br
          span(ngNonBindable) {{ '13:30' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '13:30' | aTime : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ '1:30 pm' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '1:30 pm' | aTime : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ '12:00 am' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '12:00 am' | aTime : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ '12:00 pm' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '12:00 pm' | aTime : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ '13:30' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '13:30' | aTime : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ '1:30 pm' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '1:30 pm' | aTime : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ '12:00 am' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '12:00 am' | aTime : 'hhmmtt' }}
          br
          br
          span(ngNonBindable) {{ '12:00 pm' | aTime : 'hhmmtt' }}
          span &nbsp;== {{ '12:00 pm' | aTime : 'hhmmtt' }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 aMath
      p.text-sm.text-grey-2x A connection to Javascript Math functions
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"   = "views.aMath=!views.aMath"
      "[ngClass]" = "views.aMath?'border-energized bg-energized':'border-info bg-info'"
    )
      |view details
    div(*ngIf="views.aMath" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 2.2 | aMath:'ceil' }}
          span.pad-h-sm ==
          span {{ 2.2 | aMath:'ceil' }}
  
  .flex2.border-grey-6x.border
    .pad-h
      h3 aString
      p.text-sm.text-grey-2x A connection to Javascript String functions
    a.text-center.block.border.pad-xxs.hover-bg-warning(
      "(click)"   = "views.aString=!views.aString"
      "[ngClass]" = "views.aString?'border-energized bg-energized':'border-info bg-info'"
    )
      |view details
    div(*ngIf="views.aString" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 2.35 | aString:['slice',-2] }}
          span.pad-h-sm ==
          span {{ 2.35 | aString:['slice',-2] }}
  
  .flex2.border-grey-6x.border
    .pad-h
      h3 ack
      p.text-sm.text-grey-2x A connection to objectifying functions
    a.text-center.block.border.pad-xxs.hover-bg-warning("(click)"="views.ack=!views.ack" "[ngClass]"="views.ack?'border-energized bg-energized':'border-info bg-info'")
      |view details
    div(*ngIf="views.ack" "[@fadeInOutUp]"=1)
      absolute-overflow-x
        pre.code-sample.margin-0
          span(ngNonBindable) {{ 0 | ack:'date':'toUtc':'date':'toString' }}
          span.pad-h-sm ==
          span {{ 0 | ack:'date':'toUtc':'date':'toString' }}


h3.margin-bottom-0 More Pipe Examples
.flex-wrap.child-margin-xs.child-pad-xs.text-center
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | ack : 'date' : 'now' : 'hmmtt' }}
    span.text-grey-2x &nbsp;== {{ 0 | ack : 'date' : 'now' : 'hmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | ack : 'date' : 'now' : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ 0 | ack : 'date' : 'now' : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ null | ack : 'date' : 'now' : 'hmmtt' }}
    span.text-grey-2x &nbsp;== {{ null | ack : 'date' : 'now' : 'hmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ null | ack : 'date' : 'now' : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ null | ack : 'date' : 'now' : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | ack : 'date' : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
    span.text-grey-2x &nbsp;== {{ 0 | ack : 'date' : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '01/01/2014 2:00 am' | ack : 'date' : ['dateMinuteDiff','01/02/2014 2:00 am'] }}
    span.text-grey-2x &nbsp;== {{ '01/01/2014 2:00 am' | ack : 'date' : ['dateMinuteDiff','01/02/2014 2:00 am'] }}
