p.text-grey-2x Decorate and filter output via Pipes

p.margin-bottom-0 Import Example
.pad-h.text-warning.text-xs
  |The following import code, is NOT needed if you used the AckModule import #[a.text-calm(href="#/overview" "(click)"="scrollToModuleImport()") seen here]
pre.code-sample.
  import &#123; NgModule &#125; from '@angular/core'
  import &#123; AppComponent &#125; from './SomeRandomComponent'
  
  import * as ackPipes from 'ack-angular/pipes'

  @NgModule(&#123;
    declarations : [ AppComponent, ...ackPipes.declarations ]
  &#125;) export class AppModule &#123;&#125;
  
br

h3(id="Documentation") Documentation

.flex-wrap.child-margin-xxs.no-scroll-bars-ever
  .flex2.border-grey-6x.border
    .pad-h
      h3 typeof
      p.text-grey-2x Output result of native javascript typeof() function
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0(ngNonBindable).
        {{ 0 | typeof }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 console
      p.text-grey-2x console log result of native console.log() function
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0(ngNonBindable).
        {{ 'message1' | console : 'message2' }}

  .flex2.border-grey-6x.border
    .pad-h
      h3 capitalize
      p.text-grey-2x Each sentence leading word is capitalized
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0(ngNonBindable).
        {{ 'how do you do?' | capitalize }} == How do you do?

  .flex2.border-grey-6x.border
    .pad-h
      h3 capitalizeWords
      p.text-grey-2x Every word is capitalized
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0(ngNonBindable).
        {{ 'how do you do?' | capitalizeWords }} == How Do You Do?

  .flex2.border-grey-6x.border
    .pad-h
      h3 yesno
      p.text-grey-2x Truthy value converts to: yes. Otherwise: no
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0(ngNonBindable).
        {{ 'true' | yesno }} == yes

  .flex2.border-grey-6x.border
    .pad-h
      h3 YesNo
      p.text-grey-2x Truthy value converts to: Yes. Otherwise: No
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0(ngNonBindable).
        {{ 1 | YesNo }} == Yes

  .flex2.border-grey-6x.border
    .pad-h
      h3 numbers
      p.text-grey-2x Removes anything not a number from a string
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0(ngNonBindable).
        {{ 'sam123acb456xyz' | numbers }} == 123456

  .flex2.border-grey-6x.border
    .pad-h
      h3 keys
      p.text-grey-2x List of keys for an Object
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0
        span(ngNonBindable) {{ {x:1,y:2,z:3} | keys }}
        span.pad-h-sm ==
        span {{ {x:1,y:2,z:3} | keys | ack:['stringify',0] }}
  
  .flex2.border-grey-6x.border
    .pad-h
      h3 aDate
      p.text-grey-2x A different approach @ date decorating
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0
        span(ngNonBindable) {{ 0 | aDate:'now':'date' }}
        span.pad-h-sm ==
        span {{ 0 | aDate:'now':'date':'getTime' }}
  
  .flex2.border-grey-6x.border
    .pad-h
      h3 aTime
      p.text-grey-2x A different approach @ time decorating
      h4.margin-bottom-0 Usage Example
    absolute-overflow-y
      pre.code-sample.margin-0
        span(ngNonBindable) {{ 0 | aTime:'now':'date' }}
        span.pad-h-sm ==
        span {{ 0 | aDate:'now':'date':'getTime' }}


h3.margin-bottom-0 More Pipe Examples
.flex-wrap.child-margin-xs.child-pad-xs.text-center
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | aDate : 'now' : 'hmmtt' }}
    span.text-grey-2x &nbsp;== {{ 0 | aDate : 'now' : 'hmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | aDate : 'now' : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ 0 | aDate : 'now' : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ null | aDate : 'now' : 'hmmtt' }}
    span.text-grey-2x &nbsp;== {{ null | aDate : 'now' : 'hmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ null | aDate : 'now' : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ null | aDate : 'now' : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | aDate : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
    span.text-grey-2x &nbsp;== {{ 0 | aDate : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '13:30' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '13:30' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '1:30 pm' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '1:30 pm' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '12:00 am' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '12:00 am' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '12:00 pm' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '12:00 pm' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '01/01/2014 2:00 am' | aDate : ['dateMinuteDiff','01/02/2014 2:00 am'] }}
    span.text-grey-2x &nbsp;== {{ '01/01/2014 2:00 am' | aDate : ['dateMinuteDiff','01/02/2014 2:00 am'] }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | ack : 'date' : 'now' : 'hmmtt' }}
    span.text-grey-2x &nbsp;== {{ 0 | ack : 'date' : 'now' : 'hmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | ack : 'date' : 'now' : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ 0 | ack : 'date' : 'now' : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ null | ack : 'date' : 'now' : 'hmmtt' }}
    span.text-grey-2x &nbsp;== {{ null | ack : 'date' : 'now' : 'hmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ null | ack : 'date' : 'now' : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ null | ack : 'date' : 'now' : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ 0 | ack : 'date' : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
    span.text-grey-2x &nbsp;== {{ 0 | ack : 'date' : 'now' : ['addSeconds',60] : 'dateSecondDiff' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '13:30' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '13:30' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '1:30 pm' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '1:30 pm' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '12:00 am' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '12:00 am' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '12:00 pm' | aTime : 'hhmmtt' }}
    span.text-grey-2x &nbsp;== {{ '12:00 pm' | aTime : 'hhmmtt' }}
  .flex-1.border.border-grey-3x
    span(ngNonBindable) {{ '01/01/2014 2:00 am' | ack : 'date' : ['dateMinuteDiff','01/02/2014 2:00 am'] }}
    span.text-grey-2x &nbsp;== {{ '01/01/2014 2:00 am' | ack : 'date' : ['dateMinuteDiff','01/02/2014 2:00 am'] }}
