.flex-wrap
  fieldset.flex-1.border-dotted.border-grey-2x.border
    legend.pad-h
      h3.margin-0 UiRouteWatchReporter
    p.text-grey-2x Get history and additional state information from ui-router-ng2
    .pad Requirements
      ul
        li ui-router-ng2
    
    h4 Import Example
    
    pre.code-sample.
      import &#123; UiRouteWatchReporter &#125; from "ack-angular/UiRouteWatchReporter"
